image: Visual Studio 2022

build_script:
  - ps: .\build.ps1 --target="Appveyor" --configuration="Release" --targetFramework="netstandard1.6"
  - ps: .\build.ps1 --target="Appveyor" --configuration="Release" --targetFramework="netstandard2.0"

# disable built-in tests.
test: off

artifacts:
  - path: 'package\Release\netstandard1.6\NUnit.Analyzers*.nupkg'
  - path: 'package\Release\netstandard2.0\NUnit.Analyzers*.nupkg'

deploy:
  - provider: NuGet
    server: https://www.myget.org/F/nunit-analyzers/api/v2/package
    api_key:
      secure: qXsslQqMhHj/tJrUnSJWFBn5OZCmF/Qf+esLbkuzlAvTFWkY9yae5uO80YiJirLA
    skip_symbols: true
    on:
      branch: master
