image: Visual Studio 2017

build_script:
  - ps: .\build.ps1 -Target "Appveyor" -Configuration "Release"

# disable built-in tests.
test: off

artifacts:
  - path: 'package\Release\NUnit.Analyzers*.nupkg'

deploy:
  - provider: NuGet
    server: https://www.myget.org/F/nunit-analyzers/api/v2/package
    api_key:
      secure: qXsslQqMhHj/tJrUnSJWFBn5OZCmF/Qf+esLbkuzlAvTFWkY9yae5uO80YiJirLA
    skip_symbols: true
    on:
      branch: master
